<launch>
    <rosparam file="$(find g15_ros_control)/config/actuators.yaml" command="load" ns="robot_hw_example/"/>
    <rosparam file="$(find g15_ros_control)/config/joints.yaml" command="load" ns="robot_hw_example/"/>
    <rosparam file="$(find g15_ros_control)/config/transmissions.yaml" command="load" ns="robot_hw_example/"/>
    <rosparam file="$(find g15_ros_control)/config/controllers.yaml" command="load"/>

    <node name="g15_ros_control_example" pkg="g15_ros_control" type="g15_ros_control_example" output="screen"/>

    <node
        name="controller_spawner"
        pkg="controller_manager"
        type="spawner"
        respawn="false"
        output="screen"
        args="joint_state_controller
            joint3_controller" />
</launch>